.nested.dropdown:hover > .dropdown-menu {
  display: block;
}
.nested.dropdown .dropdown-menu {
  top: -12px;
  margin-left: 100%;
}
.nested.dropdown .dropdown-trigger button::after {

}
.nested.dropdown .dropdown-trigger button {
  padding: 0px 0px;
  border: 0px;
  font-size: 14px;
  font-weight: 400;  
}

@media (max-width: 1024px) {
  .pagination-previous, .pagination-next{
    display: none;
  }

  #allGames{
    margin-left: 20px;
    margin-right: 20px;
  }

  #admin-container{
    margin-left: 20px;
    margin-right: 20px;
  }

}