body {
    margin: 0;
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}

#container{
    height: 400px;
    background-image: url('../images/elephant-contact.png');
    background-position: center;
}

#header-page{
    color: white;
    margin-top: 0px;
    border-top: white solid 2px;
    padding-top: 40px;
    font-size: 65px;
    text-align: center;
}

#main{
    display: flex;
    justify-content: center;
}

.box-container{
        max-width: 900px;
        margin-top: 50px;
        margin-bottom: 50px;

        padding: 10px;
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 100px;
        row-gap: 30px;
}

.box-img img{
    width: 400px;
    height: auto;
    border: #c38d9e solid 3px;
}



.box-left{
    text-align: left;
    
}

.box-left h2, .box-right h2{
    color: #c38d9e;
}

.box-right{
    text-align: right;
}

/** Responsiveness */

@media (max-width: 768px){
    .box-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .box-img{
        display: none;
    }

    .box-left, .box-right{
        text-align: center;
    }


    #header-page{
        font-size: 45px;
        color: white;
    }

    #container{
        background-image: none;
        background-color: #c38d9e;
    }
}




