body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}

#header-page{
    margin: 20px;
    text-align: center;
}
#header-page h1 {
    font-size: 50px;
    color: #c38d9e;
}

#header-page p {
    font-size: 20px;
    margin: 20px;
}

.faqs{
    width: 66%;
    margin: auto;
    display: grid;
    margin-top: 50px;
        margin-bottom: 100px;
    
        padding: 10px;
        display: grid;
    
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
}

.question{
    text-align: left;
    border: #c38d9e solid 5px;
}

/** Accordian style https: //supfort.com/pure-css-accordion-without-javascript */
input {
    display: none;
}

label {
    display: block;
    padding: 10px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    border-radius: 3px;
    color: black;
    transition: ease .5s;
}

 .faqs label:hover {
    background: #c38d9e;
}

.content {
    padding: 10px 25px;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input+label+.content {
    display: none;
}

input:checked+label+.content {
    display: block;
}




