body{
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

/** Navbar */
#navbar {
    background-color: #e27d60;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
    margin: 20px;
    font-weight: 200;
}

a:hover {
    color: black;
}

.item li {
    list-style: none;
    display: inline-flex;
}


/** how to change img colour  
 * https: //codepen.io/sosuke/pen/Pjoqqp */
.image img {
    width: 50px;
    margin-left: 10px;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

.header{
    text-align: right;
    margin-right: 300px;
    color: #c38d9e;
    
}

#top{
    padding-top: 150px;
    font-size: 50px;
}

.container{
    margin-top: -42px;
    height: 500px;
    background-image: url('../images/table.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}




#section-c{
    display: flex;
}

#box{
    max-width: 900px;
    margin-bottom: 100px;
    
    padding: 10px;
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
}

.link{
    color: black;
    text-align: center;
    height: 300px;
    width: 220px;
    border: #c38d9e solid 2px;
}

.link a{
    color: #c38d9e;
}



/** Form */
#newsletter {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

#newsletter h3 {
    margin-right: 10px;
    color: #c38d9e;
}



#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: #c38d9e solid 1px;
}

.button {
    height: 38px;
    background-color: #c38d9e;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/** Footer */
 
#main-footer{
    padding: 1em;
    background: #e27d60;
    color: white;
    text-align: center;
}
footer .grid{
    background-color: #e27d60;
}