body {
    margin: 0;
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
} 

/** Page Header */
.header-page{
    font-size: 30px;
    margin-bottom: 0;
    color: #c38d9e;
    text-align: center;
}

/** Products */
.main{
    display: flex;
    justify-content: center;
}

.products {
    max-width: 900px;
    margin-top: 50px;
    margin-bottom: 100px;
    
    padding: 10px 20px 10px 10px;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px, 20px, 250px, 20px;
    gap: 30px;
    
}

.product img{
    width: 100%;
    height: auto;
    border: #c38d9e solid 5px;
}


.product-name{
    text-align: left;
    font-weight: bolder;
}

.price{
    color: #c38d9e;
}




/** Responsiveness */
@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}
