body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}


#navbar {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.item a {
    text-decoration: none;
    color: aliceblue;
    margin: 20px;
    font-weight: 200;
}

.item a:hover {
    color: black;
}

.item li {
    list-style: none;
    display: inline-flex;
}

/** how to change img colour  
 * https: //codepen.io/sosuke/pen/Pjoqqp */
.image img {
    width: 50px;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

/** Footer */
#main-footer {
    padding: 1em;
    background: lightblue;
    color: aliceblue;
    text-align: center;
}

footer .grid {
    background-color: lightblue;
}